<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='MAA')"></head>
<body>
	<header th:replace="fragments/base.html :: intestazione(home='/')"></header>
	
	<div id="contenitore">
	<section id="immagini">
		<div class="colonne"><img class="img" alt="Dama con ermellino" src="images/MicrosoftTeams-image(3).png"/><p class="commento"><em>Dama con ermellino, Leonardo Da 
Vinci.</em></p><p class="breve">L’ermellino e la dama sembrano accomunati dai tratti e dalle espressioni candide e vivide, ma allo stesso tempo distaccate, maestose, 
forti e decise. Lo sguardo simboleggia tre qualità della dama: intelligenza, raffinatezza ed eleganza. La donna e l’animale sono messi alla pari anche da una certa 
armoni...<a href="">(Continua)</a></p></div>
		<div class="colonne"><img class="img"  alt="Davide con la testa di Golia" src="images/1200px-David_with_the_Head_of_Goliath-Caravaggio_(1610).jpeg"/><p 
class="commento"><em>Davide con la testa di Golia, Caravaggio</em></p><p class="breve">Il giovane pastore David è rappresentato da Caravaggio prendendo a modello un 
ragazzo del popolo. Il giovane è un’adolescente coperto da un’ampia e sottile camicia infilata malamente nei poveri pantaloni. L’abbigliamento è lontano dall’essere 
quello di un soldato, è infatti vicino a quello di un qualunque adolescente. David emerge dal buio dello sfondo, rivolto a destra del dipinto. Il suo volto è reclinato 
e guarda in basso verso la testa decapitata di Golia...<a href="">(Continua)</a></p></div>
		<div class="colonne"><img class="img" alt="Ragazza col turbante"  src="images/donna_con_turbante.jpg" /><p class="commento"><em>Ragazza col turbante, Johannes 
Vermeer</em></p><p class="breve">Nel dipinto è ritratta una giovane rivolta a sinistra. Il viso è voltato di tre quarti. Gli occhi, invece sembrano puntati direttamente 
verso l’osservatore. La giovane indossa un abito giallo e sul capo un turbante azzurro. Il tessuto è annodato in alto e parte di esso ricade dietro la schiena. I suoi 
occhi sono grandi ed espressivi. Le sue labbra rosse e leggermente scostate...<a href="">(Continua)</a></p></div>
	</section>
	</div>
	
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>