<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='MAA')"></head>
<body>
	<header th:replace="fragments/base.html :: intestazione(home='/')"></header>
	<form th:action="@{/register}" method="POST">	
	<section id="external">
			<div id="dati-container">
				<div class="dati-interni">
					<div class:"dato">
						<div class:"attributo-errore">
						
						<div class="errore"><span th:if="${#fields.hasErrors('user.nome')}"
                		th:errors="${user.nome}" th:style="'color:red'"></span></div><div><span class="label">Nome:</span></div>
						</div>
						<span><input type="text" th:field="${user.nome}" placeholder="nome" /></span>
						
						 <!-- il * serve a fare riferimento ai parametri di un elemento esterno-->
						<!--<div class="errore"><span th:if="${#fields.hasErrors('user.nome')}"
                		th:errors="${user.nome}" th:style="'color:red'"></span></div>-->
					</div>		
					<div class:"dato">
						<div class:"attributo-errore">
						
						<div class="errore"><span th:if="${#fields.hasErrors('user.cognome')}"
                		th:errors="${user.cognome}" th:style="'color:red'"></span></div><div><span class="label">Cognome:</span></div>
						</div>
						<span><input type="text" th:field="${user.cognome}" placeholder="cognome"/></span>


					</div>
				</div>
				<div class="dati-interni">
					<div class:"dato">
						<div class:"attributo-errore">
						
						<div class="errore"><span th:if="${#fields.hasErrors('user.email')}"
                		th:errors="${user.email}" th:style="'color:red'"></span></div><div><span class="label">Email:</span></div>
						</div>
						<span><input type="text" th:field="${user.email}" placeholder="email"/></span>

					</div>
					<div class:"dato">
						<div>
						<div class="errore"></div>
						<span class="label">Numero Di Cellulare:</span>
						<span><input type="text" th:field="${user.cellulare}" placeholder="numero di telefono" /></span></div>
						<!--il cellulare è un campo opzionale-->
						
					</div>
				</div>
				<div class="dati-interni">
					<div class:"dato">
					
						<div class:"attributo-errore">
						
						<div class="errore"><span th:if="${#fields.hasErrors('credentials.username')}"
                		th:errors="${credentials.username}" th:style="'color:red'"></span></div><div><span class="label">Username:</span></div>
						</div>
						<span><input type="text" placeholder="min. 4 char, max. 20 char" required 
						th:field="${credentials.username}"/></span>
						

                    </div>
					<div class:"dato">
						<div class="errore"></div>
						<div><span class="label">Password:</span></div>
						
						<span><input type="password" placeholder="min. 6 char, max. 20 char" required
                       th:field="${credentials.password}"/></span>
                       <div class="errore-pwd"><span th:if="${#fields.hasErrors('credentials.password')}"
                		th:errors="${credentials.password}" th:style="'color:red'"></span></div>

					</div>
				</div>
				
				<div>
					<span><button class="botton" type="submit">Invio</button></span>
				</div>
			</div>
		</section>
	</form>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>